@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  background-color: black;
}
*::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px rgba(98, 98, 98, 0.3);
  border-radius: 100rem;
}

*::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  border-radius: 100rem;
}

.outline-text {
  -webkit-text-stroke: 2px white;
}

.perspective {
  perspective: 500px;
}
html {
  scroll-snap-type: y mandatory;
}
